
.nav_bar {
  background-color: #2C3E50;
}
.nav_bar_left {
  height: 80px;
  background-color: green
}
.nav_bar_right {
  line-height: 80px;
  background-color: yellow;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav_bar_right ul li {
  list-style: none;
}

.display_inline_block {
  display: inline-block;
}
.nav_bar_button {
  display: none;
}

.jumbo {
  height: 600px;
  background-color: #1ABC9C
}
.image_jumbo {
  height: 600px;
  background-color: #EDB98A;
}

.portfolio {
  background-color: yellow;
}
.portfolio_logo {
  height: 100px;
  background-color: purple;
}
.box {
  height: 200px;
  text-align: center;
  background-color: lightgrey;
  margin-bottom: 20px;
}
.about {
  background-color: #1ABC9C
}
.about_logo {
  height: 100px;
  background-color: purple;
}
.contact {
  background-color: white;
}
.contact_logo {
  text-align: center;
  height: 100px;
  background-color: purple;
}
.form_online{
  height: 200px;
  background-color: pink;
  text-align: center;
}

.footer_up {
  background-color: #2C3E50;
  text-align: center;
}
.footer_down {
  background-color: #1A252F;
  text-align: center;
}
